{
    "platforms": [
        (
            position: (0.0, -360.0, 0.0),
            scale: (1024.0, 50.0, 1.0),
        ),
        (
            position: (-512.0, 0.0, 0.0),
            scale: (25.0, 720.0, 1.0),
        ),
        (
            position: (512.0, 0.0, 0.0),
            scale: (25.0, 720.0, 1.0),
        ),
        (
            position: (-250.0, -209.99998, 0.0),
            scale: (300.0, 30.0, 1.0),
        ),
        (
            position: (250.0, -209.99998, 0.0),
            scale: (300.0, 30.0, 1.0),
        ),
        (
            position: (0.0, 40.0, 0.0),
            scale: (250.0, 30.0, 1.0),
        ),
    ],
}